@media only screen and (max-width: 1920px) {
    .menu {
        right: 146px;
    }
}

@media only screen and (max-width: 1400px) {
    .menu {
        right: 90px;
    }
}


@media only screen and (max-width: 1300px) {
    .menu {
        right: 35px;
    }
}


@media only screen and (max-width: 1200px) {
    .menu {
        right: 30px;
    }
}



@media only screen and (max-width: 1000px) {
    .menu {
        right: 30px;
    }
}